<template name="taskList">

  <ul id="tasksList" class="list-group">
  
    <li class="list-group-item list-group-item-info">
      <h2 class="list-group-item-heading">Search Items</h2>
    </li>
    
    {{#if tasks}}
      {{#each tasks}}
        {{> taskItem }}
      {{/each}}
    {{else}}
      <li class="list-group-item list-group-item-warning">
        <h4 class="list-group-item-heading">No search items added</h4>          
      </li>
    {{/if}}

    <!--
    <li class="list-group-item">
      footer for pagination ...
    </li>
    -->
  </ul>
  
</template>

